* {
    box-sizing: border-box;
}

.parent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 55%;
    border-right: solid #bbb 1px;
}

.namebox {
    width: 20%;
}

.box {
    flex-grow: 1;
    padding: 3px;
}

.middleBox {
    display: flex;
    padding-right: 30px;
    margin-bottom: 5px;
}

.middleBoxLeft {
    text-align: center;
    width: 30%;
}

.middleBoxRight {
    width: 70%;
}

.rightBox {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 15px;
}

.rightBoxTop {
  display: flex;
}

.rightBoxBottom {
    display: flex;
    margin-top: 5px;
}

.rightBoxLeft {
    width: 30%;
    text-align: center;
}

.rightBoxRight {
    width: 70%;
}

.input {
    width: 100%;
}

.selectType {
    text-align: right;
  
}